<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Cours
        </div>
        <div class="card-body">
            <p>
                <a href="">Liste des cours</a>
                <a href="">Ajouter un cours</a>

            </p>
        </div>
    </article>

        <article class="card mb-3">
        <div class="card-header">
            Réservation
        </div>
          <div class="card-body">
            <p>
                <a href="">Liste des réservations</a>
            </p>
        </div>
    </article>

        <article class="card mb-3">
        <div class="card-header">
            Abonnés Newsletter
        </div>
          <div class="card-body">
            <p>
                <a href="">Liste des abonnées</a>
            </p>
        </div>
    </article>

        <article class="card mb-3">
        <div class="card-header">
            Membres
        </div>
          <div class="card-body">
            <p>
                <a href="">Liste des membres</a>
            </p>
        </div>
    </article>


</aside>