{% extends 'base.html.twig' %}

{% block title %}Back-Office
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
            {% include "partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Bienvenue sur votre back-office</h1>
            </main>
        </div>
	</div>

{% endblock %}
